/* Fotoğrafın konumunu ayarlıyor
#pic{
    display: block;
    margin: auto;
} */
/* Fotoğrafın sağına soluna yazı yazdırmayıp altından devam etmemizi sağlıyor. */
/* .clear{
    clear: both;
}
.container{
    width:1450px ;
    height: 90px;
    display: block;
    margin: auto;

}
.content{
    width: 20%;
    float: left;
    height: 35%;
    text-align: center;
    
} */


/* .container input[type=submit]:active{
    display: flex;
    border-style: inset;
    appearance: auto;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    box-sizing: border-box;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    color: -internal-light-dark(black, white);
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}
.bg-gray{
    background-color: rgb(223, 223, 223);
}
.bg-cy{
background-color: #7EE5DA;
} */

/* .center {
    display: block;
    text-align: -webkit-center;
} */



.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    text-align: center;

}
.bg-grey{
    margin-bottom: 2px;
    background-color: rgb(223, 223, 223);
  /* margin ile düzeltildi Sağdan soldan margin ver düzenle !!!!!!!!!!!!!!! */
    /* margin: 20px; */
    margin-left: 60px;
    margin-right: 60px;
}
.logo{

    display: flex;
    margin: auto;
}
/* justify-content ortalamak için kullanıyoruz. 
margin i de boşluk oluşturabilmek için kullandık. */
.button{
    /* yan yana gelmesi için kullandık */
    display:flex ;
    justify-content: center;
    margin: 5px;

}
.space{
    margin-right: 5px;
}
.design{
    /* margin ile düzeltildi sağdan soldan düzelt!!!!!!!!!!!!!!!!!!!!!!! */
    display: flex;
    margin-left: 60px;
    margin-right: 60px;
    
}
.bg-cy{
    background-color: #7EE5DA;
    }
.size1{
    width: 480px;
    height: 75px;
    padding: 10px;
    margin-right: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.size2{
    width:400px;
    height: 75px;
    padding: 10px;
    margin-right: 2px;
}
.size3{
    width: 580px;
    height: 75px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bos{
    margin: 0;
}
.dir{
    display: flex;
    /* yatayda ortala */
    justify-content: center;

}
.wid{
    width: 170px;
}